Click==7.0
cycler==0.10.0
ffmpeg==1.4
Flask==1.1.1
imutils==0.5.3
itsdangerous==1.1.0
Jinja2==2.11.3
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.3
numpy==1.18.1
opencv-python==4.1.1.26
opencv-python-headless==4.1.1.26
Pillow==7.0.0
pyparsing==2.4.6
pytesseract==0.3.2
python-dateutil==2.8.1
Shapely==1.7.0
six==1.14.0
Werkzeug==1.0.0
